@font-face {
	font-family: 'yard y';
	src: url( '../fonts/yard-y-icon.eot' );
	src:
		url( '../fonts/yard-y-icon.eot?#iefix' ) format( 'embedded-opentype' ),
		url( '../fonts/yard-y-icon.woff' ) format( 'woff' ),
		url( '../fonts/yard-y-icon.ttf' ) format( 'truetype' ),
		url( '../fonts/yard-y-icon.svg#yard-y' ) format( 'svg' );
	font-weight: normal;
	font-style: normal;
}
[class*='dashicons-yard-y']:before {
	display: inline-block;
	font-family: 'yard y';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.dashicons-yard-y:before {
	content: '\0041';
}
